.hint {
  font-style: italic;
  font-size: 12px;

}

#superheroes {
  /*background: beige;*/
  width: 440px;
}
#superheroes h1 {
  color : maroon;
}
#superheroes .debug {
  position: fixed;
  /*opacity: 0.8;*/
  right:20px;
  top: 20px;
  width:500px;
  /*height: 400px;

  background: wheat;
  border: 1px solid maroon;
  padding: 5px;*/
}
#superheroes .debug .messages{
  position: relative;
  height:340px;
  overflow-y: scroll;
  background: lightgrey;
}

