<!--The content below is only a placeholder and can be replaced.-->
<div id="superheroes">
  <h1>{{title}}</h1>
  <md-card class="actions">
    <md-card-header>
      <md-card-title>Actions</md-card-title>
      <md-card-subtitle>Common action Links</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <button md-raised-button (click)="toggleDebug()">Toggle Debug box</button>
    </md-card-content>
  </md-card>

  <md-card class="addNewHero">
    <md-card-header>
      <md-card-title>Add new Hero</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container>
        <textarea mdInput placeholder="Hero Name" [(ngModel)]="newhero.name" rows="6" cols="80" ></textarea>
      </md-input-container>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button (click)="addNewHero(newhero.name)">Add Hero</button>
    </md-card-actions>
  </md-card>


  <hero-search [query]=""></hero-search>

  <div class="debug" [hidden]="!showDebugDialog">
    <md-card class="" >
      <md-card-header>
        <md-card-title>Debug Messages</md-card-title>
        <md-card-subtitle>Showing dump</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <div class="messages"><pre >{{ this | json }}</pre></div>
      </md-card-content>
    </md-card>
  </div>
</div>
