<!--The content below is only a placeholder and can be replaced.-->
<div id="superheroes">
  <h1>{{title}}</h1>
  <div class="actions">
    <h4>Actions:</h4>
    <button md-raised-button (click)="toggleDebug()">Toggle Debug box</button>
    <label><md-checkbox [(ngModel)]="deleteConfirm"> Confirm before deleting item</md-checkbox></label>
  </div>

  <div class="addNewHero">
    <h4>Add new Hero:</h4>
    <md-input-container>
      <input mdInput placeholder="Hero Name" [(ngModel)]="newhero.name" >
    </md-input-container>
    <button md-raised-button (click)="addNewHero(newhero.name)">Add Hero</button>
  </div>

  <div class="heroes_list">
    <h4>Heroes List</h4>
    <p class="hint">Click Hero name to select it, click again to deselect. Click "remove" to delete a Hero.</p>
    <div>
      <ul>
        <li *ngFor="let hero of heroes let i = index" [class.selected]="hero == selectedHero" (click)="selectHero(hero)">
        {{hero.name}} <span class="removeitem" (click)="removeHeroItem(i)">(remove)</span>
        </li>
      </ul>
    </div>
  </div>

  <hero-detail [hero]="selectedHero"></hero-detail>

  <div class="debug" [hidden]="!showDebugDialog">
    <h3>Debugging Component: </h3>
    <div class="messages"><pre >{{ this | json }}</pre></div>
  </div>
</div>
